# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.3ds
*.dae
*.tga
*.png
*.jpg

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# project specific
diary.txt
Debug/*
.cproject
.project
.settings*
